<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>To Do List</title>
</head>

<body>

    <div id="app">
        <div class="container p-5">

            
            <div class="row justify-content-center">
                <div class="col-4">
                    <h3>Todo List</h3>
                    <input-component v-bind:input='inputValue' v-on:add-list="createList"></input-component>
                    <progress-component v-bind:percent='progress'></progress-component>
                    <list-component v-bind:data='ordered' v-on:delete-list='deleteList' v-on:do-checked='doChecked'>
                    </list-component>

                    <div class="row mt-3">
                        <div class="col d-flex justify-content-end">
                            <a href="#" v-on:click="clear">Clear</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>
        // Input Componenet
        Vue.component('input-component', {
            props: ['input'],
            template: `
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="tambah kegiatan..." v-on:keyup.enter="$emit('add-list',$event)">
                </div>
            </div>
            `
        })


        // list Component
        Vue.component('list-component', {
            props: ['data'],
            methods: {
                generateString() {
                    return btoa(Math.random().toString()).substr(10, 5)
                }
            },
            template: `
            <div class="row mt-3">
                <div class="col">
                    <template v-if="data.length>0">
                        <div v-for="(d,i) in data" class="d-flex justify-content-between" :key="d.do+i+'input'+generateString()">
                            <div class="form-check">      

                                <input class="form-check-input" type="checkbox" v-bind:value="d.do" v-bind:id="d.do+i"  v-bind:checked="d.complete"  v-on:change="$emit('do-checked',{data:d,index:i})" >

                                <label class="form-check-label" v-bind:for="d.do+i" v-bind:class="{'text-decoration-line-through':d.complete,'text-danger':d.complete}" >
                                    {{ d.do }}
                                </label>

                            </div>
                            
                            <div>
                                <a href="#" v-on:click.prevent="$emit('delete-list',i)" >Hapus</a>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div>
                            <small>Nothing to do</small>
                        </div>
                    </template>
                </div>
            </div>
            `
        })

        // Progress Bar
        Vue.component('progress-component', {
            props: ['percent'],
            template: `
            <div class="row mt-3">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" v-bind:style="{width: percent+'%'}" v-text="percent==100 ? 'Completed' :percent+'%'"></div>
                      </div>
                </div>
            </div>
            `
        })


        // Utility
        Vue.component('utility-component', {
            template: `
            
            `

        })


        // Parent Component
        const vm = new Vue({
            el: '#app',
            data: {
                inputValue: '',
                listData: [],
            },
            methods: {
                createList(event) {
                    const data = {
                        do: event.target.value,
                        complete: false
                    }

                    this.listData.unshift(data)
                    event.target.value = ''
                },
                deleteList(index) {
                    this.listData.splice(index, 1)
                },
                doChecked(obj) {

                    obj.data.complete = !obj.data.complete

                    if (obj.data.complete == false) {
                        this.listData.splice(obj.index, 1);
                        this.listData.unshift(obj.data)

                    }
                },
                clear() {
                    this.listData = []
                }
            },
            computed: {
                filteredList() {
                    const newArray = this.listData.slice(0)
                    return newArray.sort((a, b) => {
                        return a.complete === b.complete ? 0 : a.complete ? 1 : -1
                    })
                },
                ordered() {
                    return this.listData.sort((a, b) => {
                        return a.complete === b.complete ? 0 : a.complete ? 1 : -1
                    })
                },
                progress() {
                    if (this.listData.length > 0) {

                        const total = this.listData.length
                        const piece = this.listData.filter((val) => {
                            return val.complete == true
                        }).length

                        return Math.floor((piece / total) * 100)
                    }

                    return 0
                }
            }
        })
    </script>
</body>

</html>